<%inherit file="/base.html"/>

<%block name="head">
	<style>
		g {
			cursor: pointer;
			fill: black;
		}
		g:hover {
			fill: blue;
		}
		rect {
			fill: skyblue;
		}
		.dataTable tr {
			cursor: pointer;
		}
	</style>

	<script>
		// Send through templated variables to the javascript file :)
		var url_name = '${self.url_name()}';
	</script>
	<script src="/static/js/aggregation_base.js"></script>
</%block>

<%block name="base">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Top Problems</a></li>
			<li><a href="#tabs-2">No. Calls</a></li>
			<li><a href="#tabs-3">Avg. Runtime</a></li>
		</ul>
		<div id="tabs-1" class="graph_total"></div>
		<div id="tabs-2" class="graph_count"></div>
		<div id="tabs-3" class="graph_avg"></div>
	</div>

	<table id="main" class="my_table">
		<thead>
			<tr>
				<th>ID</th>
				<th><%block name="column_name"/></th>
				<th>Count</th>
				<th>Total Time</th>
				<th>Average</th>
				<th>Min</th>
				<th>Max</th>
			</tr>
		</thead>
	</table>
</%block>
