<!DOCTYPE html>
<html>
<head>
  <title>Aggregated SQL</title>
  <style type="text/css" title="currentStyle">
    @import "/css/jquery-ui-1.10.3.custom.min.css";
    g{cursor: pointer;}
    header div{float: left;}
  </style>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      function trunc(string, numChars){
        return string.length>numChars?string.substring(0,numChars-3)+'...':string
      }

      $('#main').dataTable( {"aaSorting": [[ 3, "desc" ]],
                             "bServerSide":true,
                             "sAjaxSource":"/api/sqlstatements?datatables=true",
                             "bProcessing":true,
                             "bDeferRender":true,
                             "bAutoWidth":false,
                             "bJQueryUI": true,
                             "aoColumns": [{"bVisible":false},
                                           null,
                                           null,
                                           null,
                                           null,
                                           null],
                             "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                                $(nRow).css({'cursor':'pointer'}).click(function(){window.location.href = '/sqlstatements/'+aData[0] });
                                $('td:eq(0)', nRow).text(trunc(aData[1],100));
                              }
      });

      var height=200
      var width=700;
      var margin=50;
      var numBars=6;

      function draw(data, index){
        var x_extent = d3.extent(data, function(d){return d[index]});
        var x_scale = d3.scale.linear()
                          .range([margin,width-margin])
                          .domain(x_extent);
        d3.select('div#graph'+index)
          .append('svg')
            .attr('class','graph'+index)
            .attr('width',width)
            .attr('height',height)
          .selectAll('g')
          .data(data)
          .enter()
          .append('g');
        d3.selectAll('.graph'+index+' g')
          .append('rect')
            .attr('fill','skyblue')
            .attr('width', function(d){return x_scale(d[index])})
            .attr('height',height/numBars)
            .attr('y',function(d,i){return height/numBars*(i)+i})
            .attr('data-id',function(d){return d[0]});
        d3.selectAll('.graph'+index+' g')
          .append('text')
            .attr('x',10)
            .attr('y',function(d,i){return height/numBars*(i+0.5)+i+4})
            .text(function(d){
              if (index==3){
                return d[index].toFixed(4)+' - '+trunc(d[1].replace('\n',''),80)
              }else{
                return d[index]+' - '+trunc(d[1].replace('\n',''),80)
              }
            });
        //mouseover points
        $('g').hover(function(e){
            $(this).children('rect').attr({'fill':'blue'});
          },function(e){
            $(this).children('rect').attr({'fill':'skyblue'});
        }).click(function(){
          id = $(this).children('rect').attr('data-id');
          window.location.href = '/sqlstatements/'+id;
        });
      };

      $.getJSON('/api/sqlstatements?sort=avg',function(data){
        $('svg').remove();
        //draw graph
        draw(data[0].slice(0,numBars), 3);
        $.getJSON('/api/sqlstatements?sort=count',function(data){
          draw(data[0].slice(0,numBars),2)
        });
      });


    });
  </script>

  <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">

</head>
<body>

  <a href="/">Home</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;Aggregated&nbsp;SQL

  
  <header>
    <h1>Aggregated SQL</h1>
    <div id="graph3"><h4>Top average durations</h4></div>
    <div id="graph2"><h4>Top call counts</h4></div>
  </header>

  <table id="main">
    <thead>
      <tr>
        <th>ID</th>
        <th>SQL</th>
        <th>Count</th>
        <th>Average</th>
        <th>Min</th>
        <th>Max</th>
      </tr>
    </thead>
  </table>

</body>
</html>
