<%inherit file="/base.html"/>

<%block name="base_style">
  @import "/css/jquery.dataTables.css";
  g{cursor: pointer;}
  header div{float: left;}
</%block>

<%block name="head">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css">
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    var oTable;

    var height=200
    var width=500;
    var margin=50;
    var numBars=6;
    
    function trunc(string, numChars){
      return string.length>numChars?string.substring(0,numChars-3)+'...':string
    }

    function draw(data, index){
      var x_extent = d3.extent(data, function(d){return d[index]});
      var x_scale = d3.scale.linear()
                        .range([margin,width-margin])
                        .domain(x_extent);
      d3.select('div#graph'+index)
        .append('svg')
          .attr('class','graph'+index)
          .attr('width',width)
          .attr('height',height)
        .selectAll('g')
        .data(data)
        .enter()
        .append('g');
      d3.selectAll('.graph'+index+' g')
        .append('rect')
          .attr('fill','skyblue')
          .attr('width', function(d){return x_scale(d[index])})
          .attr('height',height/numBars)
          .attr('y',function(d,i){return height/numBars*(i)+i})
          .attr('data-id',function(d){return d[0]});
      d3.selectAll('.graph'+index+' g')
        .append('text')
          .attr('x',10)
          .attr('y',function(d,i){return height/numBars*(i+0.5)+i+4})
          .text(function(d){
            if (index==3){
              return d[index].toFixed(4)+' - '+trunc(d[1].replace('\n',''),60)
            }else{
              return d[index]+' - '+trunc(d[1].replace('\n',''),60)
            }
          });
      //mouseover points
      $('g').hover(function(e){
          $(this).children('rect').attr({'fill':'blue'});
        },function(e){
          $(this).children('rect').attr({'fill':'skyblue'});
      }).click(function(){
        id = $(this).children('rect').attr('data-id');
        window.location.href = '/<%block name="url_name"/>/'+id;
      });
    };

    function drawBarGraphs(kwargs){
      $.getJSON('/api/${self.url_name()}?sort=total&limit='+numBars+'&'+kwargs,function(data){
        $('svg').remove();
        draw(data[0], 3);
        $.getJSON('/api/${self.url_name()}?sort=avg&limit='+numBars+'&'+kwargs,function(data){
          draw(data[0], 4);
          $.getJSON('/api/${self.url_name()}?sort=count&limit='+numBars+'&'+kwargs,function(data){
            draw(data[0], 2);
          });
        });
      });
    }
    
    $(document).ready(function() {
      oTable = $('#main').dataTable( {"aaSorting": [[ 3, "desc" ]],
                                      "bServerSide":true,
                                      "sAjaxSource":"/api/${self.url_name()}?datatables=true",
                                      "bProcessing":true,
                                      "bDeferRender":true,
                                      "sPaginationType":"full_numbers",
                                      "bAutoWidth":false,
                                      "aoColumns": [{"bVisible":false},
                                                    null,
                                                    null,
                                                    null,
                                                    null,
                                                    null,
                                                    null],
                                      "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                                         $(nRow).css({'cursor':'pointer'}).click(function(){window.location.href = '/${self.url_name()}/'+aData[0] });
                                         $('td:eq(0)', nRow).text(trunc(aData[1],100));
                                       }
      });
      
      drawBarGraphs('');
      
      $.getJSON('/tables/api/metadata?get_keys=true', function(data){
        key_select = $('#key-select');
        key_select.empty();
        key_select.append($("<option />").val(0).text('Select metadata key'));
        
        // Insert the new ones from the array above
        $.each(data, function(value) {
          key_select.append($("<option />").val(data[value]).text(data[value]));
        });
      });
      
      $('#tabs').tabs({ active: 1 });
    });
    
    function keySelectChange(){
      var val = $('#key-select').val();
      var kwarg = ''
      if(val != 0){
        kwarg = 'key=' + val;
      }
        
      // Remove all options from the select list
      val_select = $('#value-select');
      val_select.empty();
        
      if(kwarg != ''){
        $.getJSON('/tables/api/metadata?'+kwarg, function(data){
          val_select.append($("<option />").val(0).text('Select metadata value'));
      
          // Insert the new options from the array
          $.each(data, function(value) {
            val_select.append($("<option />").val(data[value]).text(data[value]));
          });
        });
      }
      else{
        val_select.append($("<option />").val(0).text('Pick a metadata key'));
      }
      oTable.fnSettings().sAjaxSource = '/api/${self.url_name()}?datatables=true';
      oTable.fnDraw();
    };
    
    function valueSelectChange(){
      var val = $('#value-select').val();
      var kwarg = ''
      if(val != 0){
        var key = 'key_1=' + $('#key-select').val();
        var value = 'value_1=' + val;
        kwarg = '&' + key + '&' + value;
      }
      oTable.fnSettings().sAjaxSource = '/api/${self.url_name()}?datatables=true' + kwarg;
      oTable.fnDraw();
      drawBarGraphs(kwarg);
    };
  </script>
</%block>

<%block name="left_panel">
  <section>
    <input id="ac-1-title" name="accordion-1" type="checkbox" />
    <label for="ac-1-title">
    <h1>Add new filter</h1>
    </label>
    <ul class="ac-filter">
      <li>
        <label>Key</label>
        <select id="key-select" onchange="keySelectChange()">
          <option value="0">Select metadata key</option>
        </select>
        <label>Value</label>
        <select id="value-select" onchange="valueSelectChange()">
          <option value="0">Pick a metadata key</option>
        </select>
      </li> 
    </ul>
  </section>
</%block>

<%block name="base">
	<p>Aggregation</p>
	
	<div id="tabs">
	  <ul>
      <li><a href="#tabs-1">Top call counts</a></li>
      <li><a href="#tabs-2">Total time</a></li>
	    <li><a href="#tabs-3">Top average durations</a></li>
	  </ul>
    <div id="tabs-1">
      <div id="graph2"></div>
    </div>
	  <div id="tabs-2">
	    <div id="graph3"></div>
	  </div>
	  <div id="tabs-3">
	    <div id="graph4"></div>
	  </div>
	</div>
	
	<table id="main" class="my_table">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th><%block name="column_name"/></th>
	      <th>Count</th>
	      <th>Total Time</th>
        <th>Average</th>
	      <th>Min</th>
	      <th>Max</th>
	    </tr>
	  </thead>
	</table>
</%block>
