<%inherit file="/aggregationitembase.html"/>

<%block name="title">
  <title>${file_access[1] if len(file_access[1])<50 else file_access[1][:47]+'...'}</title>
</%block>

<%block name="url_name">fileaccesses</%block>

<%block name="mako_item_id">${file_access[0]}</%block>

<%block name="mako_item_string">${file_access[1]}</%block>

<%block name="header_list">
  <a href="/callstacks" id="header1">Call Stacks</a>
  <a href="/sqlstatements" id="header2">SQL Statements</a>
  <a href="/fileaccesses" id="header3" class="active">File Accesses</a>
</%block>