<!DOCTYPE html>
<html>
<head>

  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
  <title>${file_access[1] if len(file_access[1])<50 else file_access[1][:47]+'...'}</title>

  <style type="text/css" media="screen">
    @import "/css/jquery-ui-1.10.3.custom.min.css";
    @import "/css/jquery.dataTables.css";
    @import "/css/all.css";
    pre{font-size: 12pt;
        margin: 0 auto;
        width: 800px;}
    path{fill:none;
        stroke:black;
        stroke-width:2px;}
    svg{border: 1px black solid;}
    datum{cursor:pointer;}
  </style>

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/js/sh_main.min.js"></script>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <script type="text/javascript">
    var height=400;
    var width=700;
    var margin=50;

    function draw(data){

      d3.select('div#file_graph')
        .append('svg')
          .attr('width',width)
          .attr('height',height)
        .selectAll('circle')
        .data(data)
        .enter()
        .append('circle')

      var x_extent = d3.extent(data, function(d){return d[1]*1000});
      var x_scale = d3.time.scale()
                        .range([margin,width-margin])
                        .domain(x_extent);
      var y_extent = d3.extent(data, function(d){return d[0]});
      var y_scale = d3.scale.linear()
                            .range([height-margin,margin])
                            .domain(y_extent);
      d3.selectAll('circle')
                  .attr('cx', function(d){return x_scale(d[1]*1000)})
                  .attr('cy', function(d){return y_scale(d[0])})
                  .attr('r',5)
                  .attr('class','datum')
                  .attr('data-id',function(d){return d[2]});

      var line = d3.svg.line()
                       .x(function(d){return x_scale(d[1]*1000)})
                       .y(function(d){return y_scale(d[0])});
      d3.select('svg')
        .append('path')
          .attr('d',line(data));

      var x_axis = d3.svg.axis().scale(x_scale);
      d3.select('svg')
        .append('g')
          .attr('class','x axis')
          .attr('transform', 'translate(0,'+(height-margin)+')')
        .call(x_axis);
    
      var y_axis = d3.svg.axis().scale(y_scale).orient('left');
      d3.select('svg')
        .append('g')
          .attr('class','y axis')
          .attr('transform', 'translate('+margin+', 0)')
        .call(y_axis);
    
      //mouseover points
      $('.datum').hover(function(e){
          $(this).attr({'stroke':'black',
                        'stroke-width':2,
                        'fill':'red',
                        'r':7});
        },function(e){
          $(this).attr({'fill':'black',
                       'r':5});
      }).click(function(){
        id = $(this).attr('data-id');
        window.location.href = '/tables/fileaccesses/'+id;
      });
    
    };

    function parseJSON(data){
      file_access = data[0];
      $('svg').remove();
      if(file_access.length == 0){
        return;
      }

      dataHtml = '';
      dataHtml += '<tr><td>count:</td><td>'+file_access[2]+'</td></tr>';
      dataHtml += '<tr><td>avg:</td><td>'+file_access[3]+'</td></tr>';
      dataHtml += '<tr><td>total:</td><td>'+file_access[4]+'</td></tr>';
      dataHtml += '<tr><td>min:</td><td>'+file_access[5]+'</td></tr>';
      dataHtml += '<tr><td>max:</td><td>'+file_access[6]+'</td></tr>';
      $('#data').html(dataHtml);
      
      //draw graph
      draw(file_access[7]);
    };
    
    function noDataError() {
      $('svg').remove();
      $('#data').html('<p>No data.</p>')
    }

    function dpChange(e){
      var start_date = new Date($('#datepick1').val())/1000;
      var end_date = new Date($('#datepick2').val())/1000;
      var dateLimit = '';
      if (start_date){dateLimit+='start_date='+start_date+'&'};
      if (end_date){dateLimit+='end_date='+end_date+'&'};
      $.getJSON('/api/fileaccesses/${file_access[0]}?'+dateLimit+'${encoded_kwargs}', parseJSON, noDataError);
    };
      
    $(document).ready(function(){
      $.getJSON('/api/fileaccesses/${file_access[0]}?${encoded_kwargs}', parseJSON, noDataError);
      
      $.datepicker.formatDate('@');
      $('#datepick1').datepicker().change(dpChange);
      $('#datepick2').datepicker().change(dpChange);
      
      
      $.getJSON('/tables/api/metadata?get_keys=true', function(data){
        key_select = $('#key-select');
        key_select.empty();
        key_select.append($("<option />").val(0).text('Select metadata key'));
        
        // Insert the new ones from the array above
        $.each(data, function(value) {
          key_select.append($("<option />").val(data[value]).text(data[value]));
        });
      });
    });
      
    function keySelectChange(){
      var val = $('#key-select').val();
      var kwarg = ''
      if(val != 0){
        kwarg = 'key=' + val;
      }
      
      // Remove all options from the select list
      val_select = $('#value-select');
      val_select.empty();
        
      if(kwarg != ''){
        $.getJSON('/tables/api/metadata?'+kwarg, function(data){
          val_select.append($("<option />").val(0).text('Select metadata value'));
      
          // Insert the new options from the array
          $.each(data, function(value) {
            val_select.append($("<option />").val(data[value]).text(data[value]));
          });
        });
      }
      else{
        val_select.append($("<option />").val(0).text('Pick a metadata key'));
      }
      $.getJSON('/api/fileaccesses/${file_access[0]}?${encoded_kwargs}', parseJSON, noDataError);
    };
    
    function valueSelectChange(){
      var val = $('#value-select').val();
      var kwarg = ''
      if(val != 0){
        var key = 'key_1=' + $('#key-select').val();
        var value = 'value_1=' + val;
        kwarg = key + '&' + value;
      }
      $.getJSON('/api/fileaccesses/${file_access[0]}?${encoded_kwargs}&' + kwarg, parseJSON, noDataError);
    };
  </script>
</head>

<header class="main-container">
  <nav> <img class="logo" src="../images/logo.png"/>
    <ul>
      <li><a href="/" >Main Page</a></li>
      <li><a href="/fileaccesses">Aggregated File Accesses</a></li>
      <li><a href="/fileaccesses/${file_access[0]}" class="active">Aggregated File Access</a></li>
    </ul>
  </nav>
</header>

<body>

<section class="container main-container">
  <section class="actions ac-container">
    <section>
      <input id="ac-1-title" name="accordion-1" type="checkbox" />
      <label for="ac-1-title">
      <h1>Add new filter</h1>
      </label>
      <ul class="ac-filter">
        <li>
          <label>Key</label>
          <select id="key-select" onchange="keySelectChange()">
            <option value="0">Select metadata key</option>
          </select>
          <label>Value</label>
          <select id="value-select" onchange="valueSelectChange()">
            <option value="0">Pick a metadata key</option>
          </select>
        </li> 
      </ul>
    </section>
    
  </section>
  <section class="content">

	  <div>
	    <pre>${file_access[1]}</pre>
	  </div>
	  <form>
	    <p>From:<input type="text" id="datepick1">   To:<input type="text" id="datepick2"></p>
	  </form>
	  <table id="data"></table>
    <div id="file_graph"></div>
  
  </section>
</section>


</body>
</html>
