<%inherit file="/aggregationitembase.html"/>

<%block name="title">
  <title>${call_stack[1] if len(call_stack[1])<50 else call_stack[1][:47]+'...'}</title>
</%block>

<%block name="url_name">callstacks</%block>

<%block name="mako_item_id">${call_stack[0]}</%block>

<%block name="mako_item_string"><pre>${call_stack[1]}</pre></%block>

<%block name="header_list">
  <a href="/callstacks" class="active">Call Stacks</a>
  <a href="/sqlstatements">SQL Statements</a>
  <a href="/fileaccesses">File Accesses</a>
</%block>