<%inherit file="/base.html"/>

<%block name="head">
  <script src="/static/js/lib/sh_main.min.js"></script>
  <script src="/static/js/lib/sh_sql.min.js"></script>

  <link rel="stylesheet" href="/static/css/lib/sh_acid.min.css"/>
  <style>
    path {
      fill: none;
      stroke: skyblue;
      stroke-width: 2px;
    }
    path.domain {
      stroke: black;
    }
    text.label {
      font-weight: bold;
    }
    .datum {
      cursor: pointer;
      fill: black;
      r: 4;
    }
    .datum:hover {
      stroke: black;
      stroke-width: 2;
      fill: red;
      r: 7;
    }
  </style>


  <script>
    // Send through templated variables to the javascript file :)
    var url_name = '${self.url_name()}',
      item_id = <%block name="mako_item_id"/>,
      raw_kwargs = ${kwargs};
    
    <%block name="sh_sql_highlight"/>
  </script>

  <script src="/static/js/aggregation_item_base.js"></script>
</%block>

<%block name="base">
  <div class="breadcrumbs">
    <ul id="stats">
        <li><label>Count:</label> <span class="stat_count"></span></li>
        <li><label>Total:</label> <span class="stat_total"></span></li>
        <li><label>Avg:</label> <span class="stat_avg"></span></li>
        <li><label>Min:</label> <span class="stat_min"></span></li>
        <li><label>Max:</label> <span class="stat_max"></span></li>
    </ul>
    <a href="/${self.url_name()}" id="breadcrumb_link">Aggregation</a> &gt; ${self.mako_item_id()}
  </div>

  <code class="item_container">
    <%block name="mako_item_string"/>
  </code>

  <form class="filter_graph">
    <h1>Filter Graph</h1>

    <label for="filter_from">From:</label>
    <input type="text" name="filter_from" id="filter_from">
    
    <label for="filter_to">To:</label>
    <input type="text" name="filter_to" id="filter_to">
  </form>

  <div class="item_container">
    <div id="function_graph"></div>

    <p class="info">Click on a node to see an individual data point in further detail.</p>
  </div>
</%block>