<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">

    <%block name="title"/>

    <script src="/static/js/lib/jquery.js"></script>
    <script src="/static/js/lib/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/js/lib/d3.min.js"></script>
    <script src="/static/js/lib/jquery.dataTables.min.js"></script>


    <link rel="stylesheet" href="/static/css/lib/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/lib/jquery.dataTables.css" />
    <link rel="stylesheet" href="/static/css/all.css">

    <%block name="head"/>
    <script src="/static/js/filtering.js"></script>
  </head>

  <body>
    <header>
      <h1 class="logo">Cherry Pyformance</h1>
      <nav>
        <%block name="header_list"/>
      </nav>
    </header>

    <div class="actions">
      <img class="loader" src="/static/images/loader.gif">
      <h1>Add Filter</h1>

      <form class="add_filter">
        <label for="filter_key">Key</label>
        <select name="filter_key" id="filter_key">
          <option>Select metadata key</option>
        </select>

        <label for="filter_value">Value</label>
        <select name="filter_value" id="filter_value">
          <option class="no_value" value="0">Pick a metadata key</option>
        </select>
      </form>

      <button class="clear_filters">Clear</button>
      <h1>Applied Filters</h1>

      <p class="no_filters">No filters yet</p>
      <ul id="filters"></ul>
    </div>

    <div class="content">
      <%block name="base"/>
    </div>
  </body>
</html>