<%inherit file="/itembase.html"/>

<%block name="title">
  <title>Call Stack</title>
</%block>

<%block name="url_name">callstacks</%block>

<%block name="mako_item_id">${call_stack.id}</%block>
 
<%block name="extra_script">
   var stackHtml = '';
   var stack = data.stack;
   for (var i=0; i<stack.length; i++) {
     stackHtml += '<p>'+stack[i].module+' - '+stack[i].function+'</p>';
   };
   $('#stack').html(stackHtml);
</%block>

<%block name="header_list">
  <li><a href="/callstacks" class="active">Call Stacks</a></li>
  <li><a href="/sqlstatements">SQL Statements</a></li>
  <li><a href="/fileaccesses">File Accesses</a></li>
</%block>

<%block name="breadcrumbs">
  <a href="/callstacks">Aggregation</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="/callstacks/${metadata_id}">Aggregation Item</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;Call Stack
</%block>

<%block name="extra_base">
  <h2>Call Stack Items:</h2>
  <div id="stack"></div>
</%block>