<%inherit file="/itembase.html"/>

<%block name="title">
  <title>Call Stack</title>
</%block>

<%block name="base_style">
    @import "/css/jquery.dataTables.css";
    table{width: 100%}
    tr td:last-child{color:#AAA;}
    tr td:nth-last-child(2){color:#AAA;}
    .parent span{font-weight: bold;}
    .closed{font-style: normal;}
    .expand{position: relative;
            left: -10px;}
    table,td,th{border-left: #BBB 1px solid;
            border-right: #BBB 1px solid;
            border-spacing:0;
            border-collapse:collapse;
            margin: 0;
            padding: 0;}
    tr{border: 0;}
    tr:nth-child(even){background-color: #DAEAED;}
    tr:nth-child(odd){background-color: #FFF;}
    .indent{display: inline-block;
            padding-right: 5px;
            text-align: right;}
    td:nth-last-child(2){text-align: right;}
    .content{width: -webkit-calc(95% - 282px);}

</%block>

<%block name="url_name">callstacks</%block>

<%block name="mako_item_id">${call_stack.id}</%block>
 
<%block name="extra_script">
   
  function htmlEscape(str) {
      return String(str)
              .replace(/&/g, '&amp;')
              .replace(/"/g, '&quot;')
              .replace(/'/g, '&#39;')
              .replace(/</g, '&lt;')
              .replace(/>/g, '&gt;');
  }

  function htmlUnescape(value){
      return String(value)
          .replace(/&quot;/g, '"')
          .replace(/&#39;/g, "'")
          .replace(/&lt;/g, '<')
          .replace(/&gt;/g, '>')
          .replace(/&amp;/g, '&');
  }

  function newEl (el, text) {
      return $(document.createElement(el)).text(text);
  }


  function getRootFns(json){
      var key_array = [];
      for (key in json.stats){
          if ( json.stats.hasOwnProperty(key) && ( $.isEmptyObject(json.stats[key][4]) || key in json.stats[key][4] ) ){
              key_array.push(key);
          };
      };
      return key_array;
  }

  function getChildren(json,fn) {
      return Object.keys(json.callees[fn])
  }

  function isRecursive(json,fn){
      return $.inArray(fn, Object.keys(json.stats[fn][4]))>-1
  }

  function addRows(json, fnArray, preceedingRow, tier) {
      var parentRow = preceedingRow;
      for (var i=0; i<fnArray.length; i++){
          var fn = fnArray[i];
          var parent = false;
          if (Object.keys(json.callees[fn]).length > 0){
              parent = true;
          };
          var row = newEl('tr').attr('data-tier',tier)
                               .attr('data-key', fn);
          var statList;
          console.log(isRecursive(json,fn))
          if ( $.isEmptyObject(json.stats[fn][4]) || isRecursive(json,fn) ){
              statList = json.stats[fn];
          }else{
              oldFn = parentRow.attr('data-key');
              if (oldFn){
                  statList = json.callees[oldFn][fn];
              };
          };
          row.append(newEl('td',statList[0]+' ('+statList[1]+')'))
             .append(newEl('td',statList[3].toFixed(6)))
             .append(newEl('td',(100*statList[3]/json.total_tt).toFixed(4)+'%'));
          var keyList = fn.split('::');
          if (keyList.length==3){
              row.append(newEl('td').append(newEl('span',keyList[2])))
                 .append(newEl('td').append(newEl('span',keyList[0])))
                 .append(newEl('td').append(newEl('span',keyList[1])));
          }else{
              row.append(newEl('td').append(newEl('span',fn)))
                 .append(newEl('td'))
                 .append(newEl('td'));
          };
          var fnIndent = newEl('div').addClass('indent').css("width",20*(1+parseInt(tier)));
          var pctIndent = newEl('div').addClass('indent').css("width",5*(1+parseInt(tier)));
          if(parent){
              row.addClass('parent').addClass('closed').click(function(){
                  var that = $(this);
                  expand(json,that);
              });
              fnIndent.text('+');
              pctIndent.text('+');
          };
          row.children('td:eq(3)').prepend(fnIndent);
          row.children('td:eq(2)').prepend(pctIndent);
          preceedingRow.after(row);
          preceedingRow = row;

      };

  }

  function removeRows(parent, tier){
      while (parseInt(parent.next().attr('data-tier'))>tier){
          parent.next().remove();
      }
  }

  function expand(json,that){
      var key = that.attr('data-key');
      var tier = parseInt(that.attr('data-tier')) + 1;
      if (that.hasClass('closed')){
          that.find('.indent').text('-');
          addRows(json, getChildren(json, key), that, tier);
      }else{
          that.find('.indent').text('+');
          removeRows(that, tier - 1)
      };
      that.toggleClass('closed');
  }

  function parseStatsJSON(json){
      var rootFns = getRootFns(json);
      var tier = 0;
      addRows(json, rootFns, $('thead'), 0);
  }

  $(document).ready(function(){
      $.getJSON('/tables/api/callstackitems/${call_stack.id}', parseStatsJSON);
  });


</%block>

<%block name="header_list">
  <li><a href="/callstacks" class="active">Call Stacks</a></li>
  <li><a href="/sqlstatements">SQL Statements</a></li>
  <li><a href="/fileaccesses">File Accesses</a></li>
</%block>

<%block name="breadcrumbs">
  <a href="/callstacks">Aggregation</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="/callstacks/${metadata_id}">Aggregation Item</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;Call Stack
</%block>

<%block name="extra_base">
  <br><h1>Call Stack Stats:</h1>
  
      <table>
        <thead>
            <th>Calls</th>
            <th>Time</th>
            <th>% of total</th>
            <th>Function</th>
            <th>Module</th>
            <th>Line</th>
        </thead>
    </table>

</%block>
