<!DOCTYPE html>
<html>
<head>
  <title>Call Stacks</title>
  <style type="text/css" title="currentStyle">
    @import "/css/jquery-ui-1.10.3.custom.min.css";
  </style>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<!--   // <script type="text/javascript" src="/js/tables.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#main').dataTable( {"sAjaxSource": "/_callstacks?${encoded_kwargs}",
                             "bProcessing":true,
                             "bDeferRender":true,
                             "bAutoWidth":false,
                             "bJQueryUI": true,
                             "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                                $(nRow).css({'cursor':'pointer'}).click(function(){window.location.href = '/callstacks/'+aData[0] });
                                d = new Date(aData[2]*1000);
                                $('td:eq(2)', nRow).text(d);
                              }
                          } );
    });
  </script>

  <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">

</head>
<body>
  <a href="/">Home</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;Callstacks
  <h1>Call Stacks</h1>
  <table id="main">
    <thead>
      <tr>
        <th>ID</th>
        <th>Total Time</th>
        <th>Datetime</th>
      </tr>
    </thead>
  </table>
  
</body>
</html>
