<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
  <title>Call Stack</title>
  <style type="text/css" title="currentStyle">
    @import "/css/jquery-ui-1.10.3.custom.min.css";
    @import "/css/all.css";
  </style>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      $.getJSON('/tables/api/callstacks/${call_stack.id}',function(data){
        
        var metaHtml = '';
        for (var key in data) {
          if(data.hasOwnProperty(key) && key!='stack'){
            metaHtml += '<p>'+key+' - '+data[key]+'</p>';
          };
        };
        $('#metadata').html(metaHtml);

        var stackHtml = '';
        var stack = data.stack;
        console.log(stack);
        for (var i=0; i<stack.length; i++) {

          console.log(stack[i].module);
          console.log(stack[i].function);
          stackHtml += '<p>'+stack[i].module+' - '+stack[i].function+'</p>';
        };
        $('#stack').html(stackHtml);

      });

    });
  </script>
  
</head>

<header class="main-container">
  <nav> <img class="logo" src="../images/logo.png"/>
    <ul>
      <li><a href="/" >Main Page</a></li>
      <li><a href="/callstacks">Aggregated Call Stacks</a></li>
      <li><a href="/callstacks/${metadata_id}">Aggregated Call Stack</a></li>
      <li><a href="/tables/callstacks/${call_stack.id}" class="active">Call Stack</a></li>
    </ul>
  </nav>
</header>

<body>

<section class="container main-container">
  <section class="actions ac-container">
  </section>
  <section class="content">

    <h2>Call Stack:</h2>
    <div id="metadata"></div>
  
    <h2>Call Stack Items:</h2>
    <div id="stack"></div>
  
  </section>
</section>
  

</body>
</html>