<!DOCTYPE html>
<html>
<head>
  <title>Hello, world.</title>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<!--   // <script type="text/javascript" src="/js/tables.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#main').dataTable( {"sAjaxSource": "/_${url}?${encoded_kwargs}",
                             "bProcessing":true,
                             "bDeferRender":true,
                             "aoColumns": [
                                  null,
                                  null,
                                  {'bVisible':false},
                                  null,
                                  {'bVisible':false},
                                  null,
                                  null,
                              ],
                             "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                                $('td:eq(0)', nRow).html( '<a href="/${url}/'+aData[0]+'">'+aData[0]+'</a>' );
                                $('td:eq(1)', nRow).html( '<a href="'+aData[2]+'">'+aData[1]+'</a>' );
                                $('td:eq(3)', nRow).html( '<a href="'+aData[4]+'">'+aData[3]+'</a>' );
                              }
  } );
    });
  </script>
  

  <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">


</head>
<body>

  <table id="main">
    <thead>
      <tr>
        <th>ID</th>
        <th>Method Call</th>
        <th>Method Call ID</th>
        <th>Sender</th>
        <th>Sender ID</th>
        <th>Total Time</th>
        <th>Datetime</th>
      </tr>
    </thead>
  </table>

</body>
</html>
