<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
  <title>File Access</title>
  <style type="text/css" title="currentStyle">
    @import "/css/jquery-ui-1.10.3.custom.min.css";
    @import "/css/all.css";
  </style>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      $.getJSON('/tables/api/fileaccesses/${file_access.id}',function(data){
        
        var metaHtml = '';
        for (var key in data) {
          if(data.hasOwnProperty(key) && key!='stack'){
            metaHtml += '<p>'+key+' - '+data[key]+'</p>';
          };
        };
        $('#metadata').html(metaHtml);

      });

    });
  </script>
  
</head>

<header class="main-container">
  <nav> <img class="logo" src="../images/logo.png"/>
    <ul>
      <li><a href="/callstacks">Call Stacks</a></li>
      <li><a href="/sqlstatements">SQL Statements</a></li>
      <li><a href="/fileaccesses" class="active">File Accesses</a></li>
    </ul>
  </nav>
</header>

<body>

<section class="container main-container">
  <section class="actions ac-container">
  </section>
  <section class="content">
  
    <a href="/fileaccesses">Aggregation</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="/fileaccesses/${metadata_id}">Aggregation Item</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;File Access Item

    <div id="metadata"></div>
  
  </section>
</section>
  

</body>
</html>