<%inherit file="/itembase.html"/>

<%block name="title">
  <title>File Access</title>
</%block>

<%block name="url_name">fileaccesses</%block>

<%block name="mako_item_id">${file_access.id}</%block>

<%block name="header_list">
  <a href="/callstacks" data-base_url="/callstacks">Call Stacks</a>
  <a href="/sqlstatements" data-base_url="/sqlstatements">SQL Statements</a>
  <a href="/fileaccesses" data-base_url="/fileaccesses" class="active">File Accesses</a>
</%block>

<%block name="breadcrumbs">
  <a href="/fileaccesses" id="breadcrumb_link">Aggregation</a> &gt; <a href="/fileaccesses/${metadata_id}" id="breadcrumb_link2">Aggregation Item</a> &gt; File Access
</%block>