<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <title>Main Page</title>
  <style type="text/css" media="screen">
    @import "/css/all.css";
  </style>
</head>

<header class="main-container">
  <nav> <img class="logo" src="images/logo.png"/>
    <ul>
      <li><a href="/" class="active">Main Page</a></li>
    </ul>
  </nav>
</header>

<body>
<section class="container main-container">
  <section class="actions ac-container">
  </section>
  <section class="content">
  
	  <p><a href="/callstacks">Call Stacks</a></p>
	  <p><a href="/sqlstatements">SQL Statements</a></p>
	  <p><a href="/fileaccesses">File Accesses</a></p>
	  
  </section>
</section>

</body>
</html>
