<%inherit file="/base.html"/>

<%block name="head">
  <script type="text/javascript">
    $(document).ready(function() {
    
      $.getJSON('/tables/api/<%block name="url_name"/>/<%block name="mako_item_id"/>',function(data){
        var metaHtml = '';
        for (var key in data) {
          if(data.hasOwnProperty(key) && key!='stack' && key!='args' && key!='stats_keys' && key!='stats_values'){
            metaHtml += '<p>'+key+' - '+data[key]+'</p>';
          };
        };
        $('#metadata').html(metaHtml);
        
        <%block name="extra_script"/>
      });
      
    });
  </script>
</%block>

<%block name="base">
  <%block name="breadcrumbs"/>
  <br><br><h1>MetaData:</h1>
  <div id="metadata"></div>
  <%block name="extra_base"/>
</%block>