<!DOCTYPE html>
<html>
<head>
  <title>Senders</title>
  <h1>Senders</h1>
  <style type="text/css" title="currentStyle">
    @import "/css/jquery-ui-1.10.3.custom.min.css";
  </style>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<!--   // <script type="text/javascript" src="/js/tables.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#main').dataTable( {"sAjaxSource": "/_senders?${encoded_kwargs}",
                             "bProcessing":true,
                             "bDeferRender":true,
                             "bAutoWidth":false,
                             "bJQueryUI": true,
                             "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                                $('td:eq(0)', nRow).html( '<a href="/senders/'+aData[0]+'">'+aData[0]+'</a>' );
                                $('td:eq(2)', nRow).html( '<a href="/senders?exhibitor_chain='+aData[2]+'">'+aData[2]+'</a>' );
                                $('td:eq(3)', nRow).html( '<a href="/senders?exhibitor_branch='+aData[3]+'">'+aData[3]+'</a>' );
                                $('td:eq(4)', nRow).html( '<a href="/senders?product='+aData[4]+'">'+aData[4]+'</a>' );
                                $('td:eq(5)', nRow).html( '<a href="/senders?version='+aData[5]+'">'+aData[5]+'</a>' );
                              }
  } );
    });
  </script>
  

  <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">


</head>
<body>

  <table id="main">
    <thead>
      <tr>
        <th>ID</th>
        <th>IP Address</th>
        <th>Exhibitor Chain</th>
        <th>Exhibitor Branch</th>
        <th>Product</th>
        <th>Version</th>
      </tr>
    </thead>
  </table>

</body>
</html>
