<!DOCTYPE html>
<html>
<head>
  <title>${sender.exhibitor_chain} - ${sender.exhibitor_branch}</title>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      var kwargs = "${encoded_kwargs}";
      console.log(kwargs);


      $('#callstacks').dataTable({"sAjaxSource": "/_callstacks?${encoded_kwargs}",
                                  "bProcessing":true,
                                  "bDeferRender":true,
                                  "bAutoWidth":false,
                                  "aoColumns": [ null,
                                                 null,
                                                 {"bVisible":false},
                                                 null,
                                                 {"bVisible":false},
                                                 null,
                                                 null],
                                  "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                                          $('td:eq(1)', nRow).html( '<a href="/methodcalls/'+aData[2]+'">'+aData[1]+'</a>' );
                                       }
                                 });

      $('#sqlstatements').dataTable({"sAjaxSource": "/_sqlstatements?${encoded_kwargs}",
                                     "bProcessing":true,
                                     "bDeferRender":true,
                                     "bAutoWidth":false,
                                     "aoColumns": [ null,
                                                    {"bVisible":false},
                                                    {"bVisible":false},
                                                    null,
                                                    null,
                                                    null]
                                    })
    });



  </script>
  <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">


</head>
<body>
  <h1>Sender ${sender.id}</h1>
  <h2>${sender.exhibitor_chain}&nbsp;-&nbsp;${sender.exhibitor_branch}&nbsp;-&nbsp;${sender.version}</h2>
  <h2>${sender.ip_address}</h2>


  <h2>Recorded Callstacks:</h2>
  <table id="callstacks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Method Call</th>
        <th>hidden</th>
        <th>Sender</th>
        <th>hidden</th>
        <th>Total Time</th>
        <th>Datetime</th>
      </tr>
    </thead>
  </table>


  <h2>Recorded SQL Calls:</h2>
  <table id="sqlstatements">
    <thead>
      <tr>
        <th>ID</th>
        <th>Sender</th>
        <th>hiddencol</th>
        <th>SQL</th>
        <th>Duration</th>
        <th>Datetime</th>
      </tr>
    </thead>
  </table>


</body>
</html>
