<!DOCTYPE html>
<html>
<head>
  <title>SQL Statements</title>
  <h1>SQL Statements</h1>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<!--   // <script type="text/javascript" src="/js/tables.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#main').dataTable( {"sAjaxSource": "/_sqlstatements?${encoded_kwargs}",
                             "bProcessing":true,
                             "bDeferRender":true,
                             "bAutoWidth":false,
                             "aoColumns": [
                                  null,
                                  null,
                                  {'bVisible':false},
                                  null,
                                  null,
                                  null,
                              ],
                             "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                                $('td:eq(1)', nRow).html( '<a href="/senders/'+aData[2]+'">'+aData[1]+'</a>' );
                              }
  } );
    });
  </script>
  

  <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">


</head>
<body>

  <table id="main">
    <thead>
      <tr>
        <th>ID</th>
        <th>Sender</th>
        <th>Sender ID</th>
        <th>SQL</th>
        <th>Duration</th>
        <th>Datetime</th>
      </tr>
    </thead>
  </table>

</body>
</html>
