<!DOCTYPE html>
<html>
<head>
  <title>SQL Statements</title>
  <style type="text/css" title="currentStyle">
    @import "/css/jquery-ui-1.10.3.custom.min.css";
  </style>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<!--   // <script type="text/javascript" src="/js/tables.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#main').dataTable( {"sAjaxSource": "/_sqlstatements?${encoded_kwargs}",
                             "bProcessing":true,
                             "bDeferRender":true,
                             "bAutoWidth":false,
                             "bJQueryUI": true,
                             "aoColumns": [
                                  null,
                                  null,
                                  null,
                                  null,
                              ],
                             "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                                $('td:eq(0)', nRow).html( '<a href="/sqlstatements/'+aData[0]+'">'+aData[0]+'</a>' );
                              }
  } );
    });
  </script>
  

  <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">


</head>
<body>

  <h1>SQL Statements</h1>
  <table id="main">
    <thead>
      <tr>
        <th>ID</th>
        <th>SQL</th>
        <th>Duration</th>
        <th>Datetime</th>
      </tr>
    </thead>
  </table>
  
  <p>
    <a href="/">Back to Main Page</a>
  </p>

</body>
</html>
