<%inherit file="/itembase.html"/>

<%block name="title">
  <title>SQL Statement</title>
</%block>

<%block name="url_name">sqlstatements</%block>

<%block name="mako_item_id">${sql_statement.id}</%block>

<%block name="extra_script">
  var stackHtml = '',
    stack = data.stack;
  for (var i = 0; i < stack.length; i++) {
    stackHtml += '<p>' + stack[i].module + ' - ' + stack[i].function + '</p>';
  }
  $('#stack').html(stackHtml);

  var argsHtml = '',
    args = data.args;
  for (var i = 0; i < args.length; i++) {
    argsHtml += '<li>' + args[i] + '</li>';
  }
  $('#args').toggle(data.args.length > 0).find('ul').html(argsHtml);
</%block>

<%block name="header_list">
  <a href="/callstacks" id="header1">Call Stacks</a>
  <a href="/sqlstatements" id="header2" class="active">SQL Statements</a>
  <a href="/fileaccesses" id="header3">File Accesses</a>
</%block>

<%block name="breadcrumbs">
  <a href="/sqlstatements" id="breadcrumb_link">Aggregation</a> &gt; <a href="/sqlstatements/${metadata_id}" id="breadcrumb_link2">Aggregation Item</a> &gt; SQL Statement
</%block>

<%block name="extra_base">
  <div class="item_container">
    <h1>SQL Stack Items</h1>
    <code id="stack"></code>
    
    <div id="args">
      <h1>SQL Args</h1>
      <ul></ul>
    </div>
  </div>
</%block>