<!DOCTYPE html>
<html>
<head>
  <title>SQL Statement</title>
  <style type="text/css" title="currentStyle">
    @import "/css/jquery-ui-1.10.3.custom.min.css";
    .meta{
      width:50%;
      float:left;
    }
  </style>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      $.getJSON('/tables/api/sqlstatements/${sql_statement.id}',function(data){
        
        var metaHtml = '';
        for (var key in data) {
          if(data.hasOwnProperty(key) && key!='stack'){
            metaHtml += '<p>'+key+' - '+data[key]+'</p>';
          };
        };
        $('#metadata').html(metaHtml);

        var stackHtml = '';
        var stack = data.stack;
        console.log(stack);
        for (var i=0; i<stack.length; i++) {

          console.log(stack[i].module);
          console.log(stack[i].function);
          stackHtml += '<p>'+stack[i].module+' - '+stack[i].function+'</p>';
        };
        $('#stack').html(stackHtml);

      });

    });
  </script>
  
</head>
<body>

  <div class="breadcrumbs">
    <a href="/">Home</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="/sqlstatements">SQL Statements</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;SQL Statement&nbsp;${sql_statement.id}
  </div>

  <h2>SQL Statement:</h2>
  <div id="metadata" class="meta"></div>

  <h2>SQL Statement Stack:</h2>
  <div id="stack" class="meta"></div>




</body>
</html>
