<!DOCTYPE html>
<html>
<head>
  <title>SQL Statement</title>
  <style type="text/css" title="currentStyle">
    @import "/css/jquery-ui-1.10.3.custom.min.css";
    .meta{
      width:50%;
      float:left;
    }
  </style>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<!--   // <script type="text/javascript" src="/js/tables.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#main').dataTable( {"sAjaxSource": "/_sqlstatements/${sql_statement.id}?${encoded_kwargs}",
                             "bProcessing":true,
                             "bDeferRender":true,
                             "bAutoWidth":false,
                             "bJQueryUI": true,
                             "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                                d = new Date(aData[3]*1000);
                                $('td:eq(3)', nRow).text(d);
                              }
                          });

      $('#stack').dataTable({"sAjaxSource": "/_sqlstackitems?sql_statement_id=${sql_statement.id}&${encoded_kwargs}",
                             "bProcessing":true,
                             "bDeferRender":true,
                             "iDisplayLength": 20,
                             "bAutoWidth":false,
                             "bJQueryUI": true,
                             "aoColumns": [ null,
                                            {"bVisible":false},
                                            null,
                                            null]
                            });
                            
      $('#metadata').dataTable({"sAjaxSource": "/_metadata?sql_statement_id=${sql_statement.id}&${encoded_kwargs}",
                             "bProcessing":true,
                             "bDeferRender":true,
                             "iDisplayLength": 20,
                             "bAutoWidth":false,
                             "bJQueryUI": true,
                             "aoColumns": [ {"bVisible":false},
                                            null,
                                            null]
                            });

    });
  </script>
  
  <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">

</head>
<body>

  <div class="breadcrumbs">
    <a href="/">Home</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="/sqlstatements">SQL Statements</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;SQL Statement&nbsp;${sql_statement.id}
  </div>

<div class="meta">
  <h2>SQL Statement</h2>
  <table id="main">
    <thead>
      <tr>
        <th>ID</th>
        <th>SQL</th>
        <th>Duration</th>
        <th>Datetime</th>
      </tr>
    </thead>
  </table>
</div>

<div class="meta">
  <h2>SQL Statement Metadata:</h2>
  <table id="metadata">
    <thead>
      <tr>
        <th>ID</th>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
  </table>
</div>

  <h2>SQL Statement Stack:</h2>
  <table id="stack">
    <thead>
      <tr>
        <th>ID</th>
        <th>SQL Statement ID</th>
        <th>Module</th>
        <th>Function</th>
      </tr>
    </thead>
  </table>




</body>
</html>
