/* Content CSS */
/* = Related/Action section
********************************************************************************/
.actions {
	width: 250px;
	box-sizing: border-box;
	padding: 10px 20px;
	position: absolute;
	left: 0;
	top: 50px;
	bottom: 0;
}
.actions li {
	display: block;
	margin-bottom: 15px;
}
.actions label {
	font-size: 70% !important;
	text-transform: uppercase;
}
.actions input, .actions label, .actions select {
	display: block;
	margin-bottom: 8px;
	font-size: 1em;
	width: 100%;
}
.add_filter {
	clear: both;
	padding: 1em 0;
}
.clear_filters {
	float: right;
	margin-top: -5px;
}
.actions label {
	font-size: 70% !important;
	text-transform: uppercase;
}
#filters li {
	border: solid 1px #D1D1D1;
	border-radius: 5px;
	padding: 0.5em;
	font-family: "Courier", Serif;
	background-color: white;
	margin-top: 0.5em;
}
/* = Main content section
********************************************************************************/
.content {
	position: absolute;
	left: 250px;
	top: 50px;
	bottom: 0;
	right: 10px;
	background: #fff;
	border: solid 1px #dfdfdf;
	border-radius: 5px 5px 0 0;
}

.breadcrumbs, .filter_graph {
	background-color: skyblue;
	padding: 1em;
	margin-bottom: 2em;
}
.breadcrumbs {
	border-radius: 5px 5px 0 0;
}

.item_container {
	padding: 0 1em;
}
code {
	font-family: "Courier", Serif;
	display: block;
}
code.item_container {
	padding-bottom: 2em;
}

.info {
	margin: 1em 0;
	font-size: 90%;
	font-style: italic;
}

.loader {
	float: right;
	display: none;
}

/* = Table section
********************************************************************************/
.my_table {
	width: 100%;
	text-align: left;
}
.my_table th {
	padding: 6px !important;
	background: #fff;
}
.my_table td {
	padding: 6px;
}
.my_table tr:nth-child(2n+1){
	background:#F6F6F6;
}


/** jQuery UI Overrides **/

.ui-widget-content {
	border: none;
	padding: 0;
}
.ui-widget-header {
	background: none;
	border: none;
	border-bottom: solid 1px #999;
	border-radius: 0;
	padding: 0;
}
.ui-widget-content .ui-state-active {
	border: 1px solid #999;
}
.ui-tabs .ui-tabs-panel {
	padding: 1em 0 3em;
}

.dataTable tr:hover {
	background-color: #FF9 !important;
}
table.dataTable td {
	padding: 0.75em 0.5em;
	border-left: solid 1px #D1D1D1;
}
table.dataTable tr td:first-child {
	border-left: none;
}

.dataTables_bottom {
	padding: 1em;
	background: skyblue;
}
.dataTables_bottom:after {
	content: ' ';
	clear: both;
	display: table;
}
.dataTables_bottom div {
	display: inline;
	vertical-align: middle;
}
.dataTables_filter {
	float: none !important;
}
.dataTables_info, .dataTables_length, .dataTables_paginate {
	float: right !important;
	clear: none !important;
	margin-left: 2em;
}
.dataTables_info {
	margin-top: 0.4em;
}




#stats {
	font-size: 0.9em;
	margin-bottom: 1em;
	float: right;
}
#stats p {
	display: inline-block;
	margin-left: 1em;
}
#stats label {
	font-weight: bold;
	text-align: right;
	margin-right: 0.5em;
}
#stats:after {
	content: ' ';
	clear: both;
	display: table;
}

#metadata {
	font-size: 1.1em;
	margin: 1em 0;
	color: #fefefe;
	word-wrap: break-word;
	word-break: break-all;
}
#metadata p {
	display: inline-block;
	margin: 0 1em 0.5em 0;
	padding: 0.5em 0.75em;
	background-color: skyblue;
	border-radius: 5px;
}
#metadata label {
	font-weight: bold;
	text-align: right;
	margin-right: 0.5em;
	text-transform: capitalize;
}