/* Global CSS */

/* = Reset CSS
********************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* = Main Container
********************************************************************************/
html, body {
	height: 100%;
	width: 100%;
}
/* = Headers
********************************************************************************/
h1 {
	font-weight: bold;
	margin-bottom: 10px;
}
/* = Links
********************************************************************************/
a {
	text-decoration: none;
	font-weight: bold;
	color: #26466D;
}
a:hover {
	color: #335e93;
}
/* = Main structure
********************************************************************************/
body {
	line-height: 1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.875em;
	background: #f6f6f6;
	color: #333;
}
select, input {
	padding: 3px;
	border: solid 1px #D1D1D1;
	border-radius: 5px;
	color: #333;
}
button {
	background: linear-gradient(to bottom, #ffffff 0%, #dfdfdf 100%);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	line-height: 18px;
	margin-bottom: 0;
	padding: 4px 12px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	float: right;
}
button:hover {
	background: #dfdfdf;
}
/* = Header
********************************************************************************/
header {
	color: #aaa;
	background: #26466D;
	height: 40px;
	position: relative;
}
.logo {
	position: absolute;
	left: 10px;
	top: 12px;
	font-size: 1.25em;
	color: white;
}
nav {
	position: absolute;
	left: 250px;
	top: 5px;
}
header a {
	color: #aaa;
	padding: 11px 20px 10px 20px;
	display: inline-block;
	border-radius: 5px 5px 0 0;
}
header a:hover {
	color: #fff;
}
header .active {
	color: #333;
	background: #f6f6f6;
}
header .active:hover {
	color: #666;
}