/* Responsive CSS */

/* = Phones to tablets
********************************************************************************/
@media (max-width:767px) {
.content:after, .actions:after {
	content: ""; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
.content, .actions {
	display: block;
	float:left;
	width: 100%;
	position:static;
}
.content {
	width:calc(100% - 62px);
	width:-moz-calc(100% - 62px);
	width:-webkit-calc(100% - 62px);
	margin:0 20px;
}	
}
@media (min-width: 1680px) { 
.content {
	width:calc(70% - 282px);
	width:-moz-calc(70% - 282px);
	width:-webkit-calc(70% - 282px);
}


}